/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
  box-sizing: border-box; 
}

*, *:before, *:after {
   box-sizing: inherit; 
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Beginning of my own styles */

html {
	font-size: 62.5%;   /* So that 1 rem = 10 px */
	-webkit-font-smoothing: antialiased;
}

body {
}

div {
    border: 1px solid Chocolate;
}

header {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	color: #838994;
	letter-spacing: .048rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 97rem;  /* 970px */
	/* Could use a width of 60% to make it more dynamic */
	height: 7rem;
	margin: 0 auto;
	/* min-width: 56rem; */
}

.content {
	padding: 1.5rem;
}

.logo {
	width: 26px;
}

/* Why are the following rules no longer being honored? */

.top-navigation > .content > .links {
	margin-top: 1.3rem;
	color: #838994;
	float: right;
}

.top-navigation > .content > .links li {
	display: inline-block;
	margin-left: 1.5em;
}

.top-navigation > .content > .links .active {
	color: #4c5058;
	font-weight: 600;
}

.top-navigation > .content > .links a {
	color: #838994;
	text-decoration: none;
}

.top-navigation > .content > .links a:hover {
	color: black;
	cursor: pointer;
}
